        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
        body, html {
            margin: 0;
            padding: 0;
            background: #f8f8f8;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
        }
        .container {
            max-width: 960px;
            width: 100%;
            height: auto;
            margin: auto;
        }
        .head {
            width: 100%;
            height: auto;
            padding: 30px 0;
        }
        .head h3 {
            color: #ffffff;
            text-align: center;
            margin-top: 0;
            font-weight: 700;
        }
        .physical {
            background: #1FADDF;
        }
        .social {
            background: #D43571;
        }
        .content-container {
            width: 100%;
            height: auto;
            background: #ffffff;
            padding-top: 20px;
            padding-bottom: 40px;
            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.20);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.20);
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.20);
        }
        .areas-buttons {
            width: 304px;
            height: 40px;
            display: flex;
            margin: auto;
            font-weight: 700;
        }
        .areas-button {
            border: solid #ffffff 1px;
            color: #ffffff;
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .left-button {
            border-right: none;
            border-radius: 20px 0 0 20px;
        }
        .right-button {
            border-left: none;
            border-radius: 0 20px 20px 0;
        }
        .areas-active {
            background: #ffffff;
        }
        .active-physical {
            color: #1FADDF;
        }
        .active-social {
            color: #D43571;
        }
        hr {
            background: #ffffff;
            border: 0.5px solid #ffffff;
            width: 468px;
            margin: auto;
            margin-top: 20px;
        }
        .head-description {
            color: #ffffff;
            width: 80%;
            margin: auto;
            text-align: center;
        }
        .head-description p {
            font-weight: 400px;
            line-height: 18px;
        }
        .milestone {
            width: 80%;
            height: auto;
            margin: auto;
            border-bottom: 1px solid #f0f0f0;
            padding: 20px 0;
        }
        .milestone-clickable {
            width: 100%;
            min-height: 40px;
            height: auto;
            cursor: pointer;
        }
        .milestone:nth-last-child(2) {
            border-bottom: none;
        }
        .milestone-title {
            color: #657480;
        }
        .milestone-age {
            font-size: 12px;
            color: #8295A3;

        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
        .clear {
            clear: both;
        }
        .milestone-button {
            width: 140px;
            height: 40px;
            display: flex;
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            font-weight: 700;
        }
        .completed {
            background: #78B742;
            color: #ffffff;
        }
        .uncompleted {
            background: #F0F0F0;
            color: #78B742;
        }
        .notanswered {
            background: #F0F0F0;
            color: #9D9D9D;
        }
        .button {
            background: #78B742;
            color: #ffffff;
            width: 304px;
            height: 40px;
            border-radius: 20px;
            margin: auto;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            cursor: pointer;
        }
        .circle {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-bottom: 3px;
        }
        .milestone-status {
            width: max-content;
            position: relative;
        }
        .milestone-status span {
            color: #78B742;
            font-weight: 700;
        }
        .mobile {
            display: none;
        }
        .milestone-form {
            display: none;
            width: 100%;
            height: auto;
            float: left;
            margin-top: 20px;
        }
        .show {
            display: block
        }
        .science-fact {
            font-size: 13px;
            color: #657480;
        }
        .science-fact p {
            margin: 0;
        }
        .source-data {
            font-size: 12px;
            margin-top: 5px !important;
            color: #8295A3;
        }
        .source-data span {
            font-weight: 700;
        }
        .milestone-description {
            width: 309px;
            font-size: 13px;
            color: #657480;
        }
        .milestone-answers {
            width: 169px;
            font-size: 12px;
            color: #657480;
            margin-top: 13px;
        }
        @media(max-width: 600px) {
            .areas-buttons {
                width: 280px;
            }
            hr {
                width: 90%;
            }
            .head-description {
                width: 90%;
            }
            .milestone {
                width: 90%;
            }
            .left{
                width: 170px;
            }
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }
            .milestone-description {
                width: 100%;
            }
            .milestone-answers {
                width: 100%;
            }
            .button {
                width: 288px;
            }
        }
